body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
}

.forgot-password {
  text-decoration: none;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #64a2e2;
  transition: 0.3s;
}

.forgot-password-active {
  transform: scale(1);
}

.forgot-password-inactive {
  transform: scale(0);
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-form-section {
  display: block;
}

@media (max-width: 1300px) {
  .login-form-section {
    display: none !important;
  }
}
